<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="PZ_lab4">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/PZ_lab4</property>
        <property name="connection.password">qaz123</property>
        <property name="connection.username">root</property>
        <property name="hibernate.default_schema">PZ_lab4</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
          <mapping resource="edu/pl/wcy/wat/isi/pz/lab4_SM/A.hbm.xml" />
          <mapping resource="edu/pl/wcy/wat/isi/pz/lab4_SM/B.hbm.xml" />
          <mapping resource="edu/pl/wcy/wat/isi/pz/lab4_SM/C.hbm.xml" />
    </session-factory>
</hibernate-configuration>
